#weather
    .box
        padding: 25px 0
        background-color: #a4caff
        border-radius: 20px
        text-align: center
        color: #ffffff
        width: 220px
        .data
            h1
                margin-bottom: 25px
                font-family: Arial, Helvetica, sans-serif
                font-size: 20px
            h2
                font-family: Arial, Helvetica, sans-serif
                font-size: 20px
                margin-bottom: 25px
        input
            border-radius: 25px
            margin-bottom: 25px
            padding: 7px 13px
            width: 140px
        #btn
            background-color: #79afff
            border-radius: 25px
            margin: 0 60px
            padding: 10px 0
